<div class="container">
  <div class="row">
      <div class="col mt-5 col-xs-6 col-md-6 col-lg-6">
        <h2>Check Password Strength</h2>
        <br>
      <form [formGroup]="signupForm">
        <div class="form-group">
          <input type="password" class="form-control" formControlName="password" autocomplete="off" placeholder="Password">
          <app-password-strength
          [passwordToCheck]="signupForm.value.password"
          (passwordStrength)="passwordValid($event)"
          ></app-password-strength>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!passwordIsValid">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>

